SUPABASE_URL=https://gsrwisskonzsjfllautv.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdzcndpc3Nrb256c2pmbGxhdXR2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI0MTY3MzgsImV4cCI6MjA2Nzk5MjczOH0.SyM70ijIBvOgMnxTOHYg8Rn7mgcL-RT2fhan823-wUI

TELEGRAM_BOT_TOKEN=8195416718:AAExZgW_0bPLIKA97pNqgb6d8AxeNTfXlnM
TELEGRAM_CHAT_ID=6201334833
